@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light_gray: hsl(212, 45%, 89%);
    --grayish_blue: hsl(220, 15%, 55%);
    --dark_blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light_gray);
}
 
img{
    width: 100%;
}
.card{
    margin: auto;
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 3px 6px 10px #4b75e51f;
}
.card img{
    border-radius: 15px;
}
.card h1{
color: var( --dark_blue);
font-size: 23px;
}
.card p{
    width: 95%;
    color: var( --grayish_blue);
    font-size: 16px;
    }
    .center-all{
        text-align: center;
    }
.qr_input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgba(163, 163, 163, 0.445);
    padding: 5px 5px 5px 10px;
}
.qr_btn{
    height: 30px;
    width: 100px;
    border-radius: 5px; 
    padding: 5px 5px 5px 10px;
    margin-top: 20px;
    background-color: #2c7dfa;
    color: white;
    border: none;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}
.qr-image {
     background-color: #ffffff;
     border-radius: 15px;
     width: 300px;
     height: 300px;
     border: 1px solid #2c7dfa9e;
} 
.qr-image img{  
    width: 20px;
    height: 20px;
    padding-top: 16%;
    border-radius: 0; 
}   
svg{
    margin-top: 8%;
}


svg {
    animation: slide2 2s ease-in-out infinite; 
  } 
  @keyframes slide2 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 5px);
    }
  }

.arrow1 {
    animation: slide1 2s ease-in-out infinite; 
  } 
  @keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 10px);
    }
  }
  